<!DOCTYPE HTML>
<!-- Website Template by freewebsitetemplates.com -->
<html>
<head>
    <meta charset="UTF-8">
    <title>葬爱美发连锁</title>
    <link rel="stylesheet" href="./Public/Home/css/style.css" type="text/css">
</head>
<body>
<div id="header">
    <div class="section">
        <div class="logo">
            <a href="index.php?p=Home&c=Home&a=index">葬爱美发</a>
        </div>
        <ul>
            <li class="selected">
                <a href="index.php?p=Admin&c=Index&a=index">进入后台</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Home&a=member">会员中心</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Home&a=points">积分商城</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Home&a=article">活动中心</a>
            </li>
            <li>
                <a href="index.php?p=Home&c=Home&a=contact">contact</a>
            </li>
        </ul>
    </div>
    <div class="article">
        <img src="./Public/Home/images/great-hairstyle.jpg" alt="">
        <h1>Great hairstyle comes from the bury love.</h1>
    </div>
</div>