<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>葬爱美发会员添加</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="./public/Admin/css/general.css" rel="stylesheet" type="text/css" />
<link href="./public/Admin/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<h1>
    <span class="action-span"><a href="index.php?p=Admin&c=Users&a=index">会员列表</a>
    </span>
    <span class="action-span1"><a href="index.php?p=Admin&c=index&a=index">葬爱美发 管理中心</a></span>
    <span id="search_id" class="action-span1"> - 添加会员 </span>
    <div style="clear:both"></div>
</h1>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="index.php?p=Admin&c=Users&a=add" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">会员头像：</td>
                    <td>
                        <input type="file" name="photo" size="35" />
                    </td>
                </tr>
                <tr>
                    <td class="label">会员姓名：</td>
                    <td><input type="text" name="username" size="30" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">会员密码： </td>
                    <td>
                        <input type="password" name="password" value="" size="20"/>
                        <span id="goods_sn_notice"></span><br />
                        <span class="notice-span"id="noticeGoodsSN">为了你的账号安全 密码安全系数要高</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">确认密码：</td>
                    <td>
                        <input type="password" name="repassword" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">真实姓名：</td>
                    <td>
                        <input type="text" name="realname" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">性别：</td>
                    <td>
                        <input type="radio" name="sex" value="1"/> 男
                        <input type="radio" name="sex" value="0"/> 女
                    </td>
                </tr>
                <tr>
                    <td class="label">电话号码：</td>
                    <td>
                        <input type="text" name="telephone" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">会员等级：</td>
                    <td>
                        <input type="text" name="vip_level" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">会员余额：</td>
                    <td>
                        <input type="text" name="money" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">会员积分：</td>
                    <td>
                        <input type="text" name="score" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">备注：</td>
                    <td>
                        <input type="text" name="remark" size="20"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>

            </table>
            <div class="button-div">
                <input type="submit" value=" 添加 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>

<div id="footer">
共执行 9 个查询，用时 0.025161 秒，Gzip 已禁用，内存占用 3.258 MB<br />
版权所有 &copy; 2005-2012 上海商派网络科技有限公司，并保留所有权利。</div>
</body>
</html>